{% extends 'layouts/blank.html' %}

{% block content %} 

    <div class="max-w-4xl mx-auto px-8 py-24">
        <h1>Welcome to {{ request.tenant.name }}</h1>

        {% if user.is_authenticated %}  
            <h2>Hello {{ user.profile.name }}{% if user.tenant_member.is_admin %} - you are the Admin{% endif %}</h2>
            
            {% if not user.tenant_member %}
            <p>o access this site, select your role:</p>
            {% endif %}

            <div class="flex gap-6 mt-8">
                <div class="w-1/2">
                    <form method="POST" action="{% url 'member-role' %}">
                        {% csrf_token %}

                        <div x-data="{ selectedRole: '', open: false }" class="relative">
                            <div @click="open = !open" class="flex items-center justify-between block w-full p-4 border border-gray-300 rounded-lg cursor-pointer">
                                <span x-text="selectedRole ? selectedRole : 'Select your Role'"></span>
                                <img x-bind:class="open && 'rotate-180 duration-300'" class="w-4" src="https://img.icons8.com/small/32/000000/expand-arrow.png" alt="Dropdown" />
                            </div>
                        
                            <div x-show="open" x-cloak @click.outside="open = false" class="absolute w-full bg-white border border-gray-300 rounded-lg shadow-lg z-10">
                                <ul>
                                    <li @click="selectedRole = 'manager'; open = false" class="block px-4 py-2 hover:bg-indigo-500 hover:text-white cursor-pointer">
                                        Manager
                                    </li>
                                    <li @click="selectedRole = 'designer'; open = false" class="block px-4 py-2 hover:bg-indigo-500 hover:text-white cursor-pointer">
                                        Designer
                                    </li>
                                    <li @click="selectedRole = 'programmer'; open = false" class="block px-4 py-2 hover:bg-indigo-500 hover:text-white cursor-pointer">
                                        Programmer
                                    </li>
                                </ul>
                            </div>
                        
                            <!-- Hidden input to submit role to backend -->
                            <input type="hidden" name="role" x-model="selectedRole">
                        </div>

                        <input type="hidden" name="tenant" value="{{ request.tenant.schema_name }}">

                        <button class="mt-2" type="submit">Submit</button>

                    </form>
                </div>

                <div class="mb-6 w-1/2">
                    {% if tenant_profile %}
                    <div class="p-4 border border-gray-300 rounded-lg">
                        <div class="mb-6">
                            <h2>Managers:</h2>
                            {% for profile in tenant_profiles %}
                                {% if profile.role == 'manager' %}
                                    <a class="block hover:underline" href="{% url 'profile' profile.user.username %}">{{ profile.user.profile.name }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="mb-6">
                            <h2>Designers:</h2>
                            {% for profile in tenant_profiles %}
                                {% if profile.role == 'designer' %}
                                    <a class="block hover:underline" href="{% url 'profile' profile.user.username %}">{{ profile.user.profile.name }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="mb-6">
                            <h2>Programmers:</h2>
                            {% for profile in tenant_profiles %}
                                {% if profile.role == 'programmer' %}
                                    <a class="block hover:underline" href="{% url 'profile' profile.user.username %}">{{ profile.user.profile.name }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <button><a href="{% url 'account_login' %}">Log In</a></button>
        {% endif %}
    </div>

{% endblock %}
